body{
  background-color: lightgray;
  font-family: TimesNewRoman;
  font-size: 30px;
}

h5{
  font-size: 25px;
  text-align: left;
}

ul{
  text-align: left;
  font-size: 20px;
  margin-left: 150px;
}
